@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #e4d8a7;
  --secondary: #2a347c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

[dir="rtl"] {
  font-family: "Cairo", "Segoe UI", Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}
